* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 80px 10%;
}

.about,
.contact {
  background: #020617;
}

.projects {
  background: #0f172a;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  border: 1px solid #38bdf8;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
